/*======================================
      WELCOME TO THE STYLESHEET
--------------------------------------      
     Copyright Mike Crittenden
      Author: Mike Crittenden
======================================*/
 
/**************************************\
|------------COLOR SCHEME--------------|
|--------------------------------------|
- black		#000
- white		#fff
\**************************************/


/**************************************/
/*              GLOBALS               */
/**************************************/


/**************************************/
/*              HEADER                */
/**************************************/



/**************************************/
/*             NAVIGATION             */
/**************************************/



/**************************************/
/*            MAIN CONTENT            */
/**************************************/



/**************************************/
/*               FOOTER               */
/**************************************/


