# bundler
.bundle

# rcov generated
coverage

# jeweler generated
pkg

# yard generated
doc
.yardoc

# cucumber generated
.cuke_*.log

# ctags generated
tags

# tmp directories used during testing
test/tmp
test/jeweler/version_tmp
test/version_tmp
tmp
