h1. <%= project_name %>

Description goes here.

h2. Note on Patches/Pull Requests
 
<%= render_template 'pull_requests.erb' %>

h2. Copyright

Copyright (c) <%= Time.now.year %> <%= user_name %>. See LICENSE for details.
