<html>
	<head>
		<title>Jeweler : Craft the perfect RubyGem</title>
		<link rel="stylesheet" href="/stylesheets/bluetrip/screen.css" type="text/css" media="screen, projection">
		<link rel="stylesheet" href="/stylesheets/bluetrip/print.css" type="text/css" media="print">
		<!--[if IE]>
		<link rel="stylesheet" href="/stylesheets/bluetrip/ie.css" type="text/css" media="screen, projection">
		<![endif]-->
		<link rel="stylesheet" href="/stylesheets/bluetrip/style.css" type="text/css" media="screen, projection">

		<link rel="stylesheet" href="/stylesheets/screen.css" type="text/css" media="screen">


		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.js"></script>
		<script type="text/javascript" src="/javascripts/github-commit-badge.js"></script>

	</head>
	<body>
		<div class="container">
			<div id="content" class="span-15">
                          {{ content }}
			</div>

			<div id="sidebar" class="span-8 last">
				<h4>Links</h4>
				<ul>
					<li><a href="http://github.com/technicalpickles/jeweler">Source</a></li>
					<li><a href="http://technicalpickles.lighthouseapp.com/projects/23560-jeweler">Bugs</a></li>
				</ul>

				<a href='http://www.pledgie.com/campaigns/2604'><img alt='Click here to lend your support to: jeweler and make a donation at www.pledgie.com !' src='http://www.pledgie.com/campaigns/2604.png?skin_name=chrome' border='0' /></a>
				<h4>Recent Commits</h4>
				<ul class="github-commits">
				</ul>
			</div>

			<div id="footer">
			</div>
		</div>
	</body>
</html>

